<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RatingHabits</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
</head>
<body>
  <header class="header">
    <nav class="nav-items">
      <ul>
        <a href="{{ url_for('index') }}"><li>Главная</li></a>
        <li class="active-nav-item">О нас</li>
        <a href="{{ url_for('rating') }}"><li>Рейтинг</li></a>
        <!-- <li>Контакты</li> -->
        <!-- <li>Поддержка</li> -->
        <li class="logout-btn"><a href="{{ url_for('logout') }}">Выйти</a></li>
      </ul>
    </nav>
  </header>
  <body>
    О нас
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>